<div class="row">
    <div class="total" id="total1" style="background-color: #fff;" >
        <div class="header">
            <h4>Add Item</h4><hr style="margin-top: 0px;" />
        </div>
        <div class="mid">
            <div class="segment">
                <p>Price</p>
                <p id="price">Rs 900</p>
            </div>
            <div class="segment" style="margin-bottom: 10px;">
                <p>Delevery</p>
                <p id="price">Rs 40</p>
            </div>
            <hr style="margin-top: 0px;" />
            <div class="segment">
                <p>Total Price</p>
                <p id="price">Rs 940</p>
            </div>
        </div>
    </div>
</div>