<div class="total" style="background: #f00;">
<div class="row">
    <div class ="box">
        <h2>Login</h2>
        <form (ngSubmit)="loginUser(f)" #f="ngForm" >
            <div class="inputbox">
                <input type="email" name="email" required ngModel autocomplete="off" pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" >
                <label>Email</label>
            </div>
            <div class="inputbox">
                <input type="password" name="password" id="password" autocomplete="off" required ngModel>
                <p (click)="togglePass()" ><i class="fa fa-eye" id="eye"></i></p>
                <label>Password</label>
                
            </div>
            <!-- <div class="inputbox">
                <input type="checkbox" name="" > 
            </div> -->
            <input type="submit" name="">
        </form>
        <p>Don't have account <a routerLink = "/signup" >Register now</a></p>
    </div>
</div>
</div> 