.row{
	margin : 0;
	padding : 0;
	font-family: sans-serif;
	align-items: center;
	justify-content: center;
	display: flex;
}
.box{
	position : absolute;
	margin : auto;
	padding : 10px;
	top : 25%;
	
	background-color: rgba(0,0,0,0.85);
	border-radius: 10px;
}
.box h2{
	margin : 30px auto;
	padding: 0;
	text-align: center;
	color : #fff;
}
.box .inputbox{
	position: relative;
}
.inputbox p{
	position: absolute;
	top: 40%;
	right: 10%;
}
.box .inputbox input{
	margin : 30px;
	padding : 0;
	height : 30px;
	width : 400px;
	color : #fff;
	border : none;
	outline: none;
	border-bottom: 1px solid #fff;
	background-color: transparent;
	font-size : 15px;
}
label{
	position : absolute;
	margin : 0px;
	padding : 0px;
	top : 35px;
	left : 30px;
	color : #fff;
	transition: 0.5s;
	pointer-events: none;
}
.box .inputbox input:focus ~ label,
.box .inputbox input:valid ~ label{
	transform: translateY(-120%);
	color : rgba(51,0,255,1);
	font-size: 13px;
}
/* .box .inputbox input:invalid ~ label{
	color: #f00;
} */
.inputbox .ng-touched.ng-invalid ~ label{
	transform: translateY(-120%);
	color : #f00;
	font-size: 13px;
}
.box .input[type="email"].ng-touched.ng-invalid{
	color: #f00;
}
.box input[type = "submit"]{
	background-color: rgba(51,0,255,1);
	border : none;
	border-radius: 5px;
	padding : 10px 15px;
	font-size: 13px;
	color : #fff;
	letter-spacing: 1px;
	margin : 30px;
}
.box p{
	color: #fff;
	margin-left: 30px;
	font-weight: bold;
}
.ng-invalid input[type="submit"]{
	pointer-events: none;
	opacity: 0.6;
}